/* Global */

h6 
{
    color: red;
    text-transform: uppercase;
    font-size: x-small;
}

/* Nav */
nav
{
    padding: 0% 15%;
}

/* Main */
main, footer
{
    padding: 24px 0px;
}

/* NavBar */
.brand-name
{
    font-size: x-large;
    font-weight: 500; 
    font-style: italic;
}

.fa-bars, .fa-search{
    color: black
}


/*  Article/Jumbotron */
hr
{
    size: 1em;
    margin: 2.5em 0em;
}

.jumbotron .image
{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.smDropdown .dropdown-item 
{
    display: inline;
}


/* Footer */
footer
{
    background-color: black;
}

footer h6, footer a
{
    color: white;
    font-size: small;
    padding-bottom: 5%;
}

.smIcon
{
    color: white;
    padding: 1.5em;
}

.smIcon:hover 
{
    color: #df4759;
}

.TyC 
{
    color:white;
    font-size: x-small;
}

.TyC:hover 
{
    color: #df4759;
}