/* Media Queries */
@media (min-width: 576px) 
{
    
}

@media (min-width: 768px) 
{ 
    
 }

@media (min-width: 992px) 
{
    
}

@media (min-width: 1200px) 
{
    
}



/* Main */
main
{
    padding: 24px;
}


/* NavBar */
.brand-name
{
    font-size: x-large;
    font-weight: 500; 
    font-style: italic;
}


/*  Article/Jumbotron */
.article-hr
{
    margin: 36px 0px;
}

figure img
{
    align-content: center;
    size: 60%;
}

.smDropdown .dropdown-item 
{
    display: inline;
}


/* Footer */
footer
{
    background-color: black;
}

footer hr
{
    color: white;
    size: 1em;
}

footer h6 
{
    color: white;
    text-transform: uppercase;
    font-size: small;
}

footer ul li
{
    font-size: small;
    padding-bottom: 5%;
}

footer a 
{
    color: white;
}

.smIcon
{
    color: white;
    padding: 8px;
}

.smIcon:hover 
{
    color: red;
}

.TyC 
{
    color:white;
    font-size: x-small;
}

.TyC:hover 
{
    color: red;
}