main{
    padding: 24px;
}

.article-hr{
    margin: 36px 0px;
}

figure img{
    align-content: center;
    size: 80%;
}

.smDropdown .dropdown-item {
    display: inline;
}

footer{
    background-color: black;
}

footer hr{
    color: white;
}

footer h6 {
    color: white;
    text-transform: capitalize;
    font-size: small;
}

.smIcon{
    color: white;
    padding: 8px;
}

.smIcon:hover {
    color: red;
}

.TyC {
    color:white;
}